<div class="container form__main">
    <table class="table__input">
        <tr>
            <td>Nama</td>
            <td><input type="text" placeholder="nama" class="form-control" /></td>
        </tr>
        <tr>
            <td>Tanggal lahir</td>
            <td><input type="date" class="form-control"/></td>
        </tr>
        <tr>
            <td>Jabatan</td>
            <td><input type="number" class="form-control" /></td>
        </tr>
        <tr>
            <td>NIP</td>
            <td><input type="number" class="form-control" /></td>
        </tr>
        <tr>
            <td>Jenis Kelamin</td>
            <td><input type="number" class="form-control" /></td>
        </tr>
        
    </table>
        <ul *ngFor="let item of posisi | async">
            <li>{{item.name}}</li>
        </ul>
    <button class="btn btn-default button__back" (click)="backToList()">Kembali</button>
    <button class="btn btn-primary button__save" (click)="saveKaryawan()">Simpan</button>
</div>