<div class="panel panel-primary">
    <div class="panel-heading">
      <h3>List Karyawan</h3>
    </div>
    <div class="panel-body">
      <button (click)="addKaryawan()" class="btn btn-primary">Tambah</button>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nama</th>
            <th>Tanggal Lahir</th>
            <th>Jabatan</th>
            <th>NIP</th>
            <th>Jenis Kelamin</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of karyawan | async">
            <td>{{data.name}}</td>
            <td>{{data.birthDate}}</td>
            <td>{{data.position.name}}</td>
            <td>{{data.idNumber}}</td>
            <td>{{data.gender}}</td>
            <td><button (click)="deleteKaryawan(data.id)" class="btn btn-danger">Delete</button>
                <button (click)="editKaryawan(data.id)" class="btn btn-info" style="margin-left: 10px">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>